<!DOCTYPE html>
<!-- Mobile Nav Bar -->
    <div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
        <a href="/home" class="w3-bar-item w3-button w3-padding-large">Main</a>
        <a href="/home/createEvent" class="w3-bar-item w3-button w3-padding-large">Create Event</a>
        <a href="/home/setting" class="w3-bar-item w3-button w3-padding-large">Update Profile</a>
        <a href="/logout" class="w3-bar-item w3-button w3-padding-large">Logout</a>
    </div>

