<!DOCTYPE html>
<html>
<head>
   <!-- The param which is passed from render-->
   <title><%= title %></title>
</head>
<body>
<!-- LoginBar -->
<div class="w3-top">
 <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  <a href="/home" class="w3-bar-item w3-button w3-padding-large w3-theme-d4"><i class="fa fa-home w3-margin-right"></i>Main Page</a>
  <a href="/home/setting" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Edit Account Settings"><i class="fa fa-user"></i></a>
  <a href="/home/createEvent" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Create an Event"><i class="fa fa-globe"></i></a>

<!-- Logout Button -->
  <a href="/logout" class="w3-bar-item w3-button w3-hide-medium w3-right w3-padding-large w3-hover-white w3-large w3-theme-d4" title="Logout">Logout</a>
  </a>
 </div>
</div>

