<!DOCTYPE html>
<!--Qihang Mao-->
<!--Converted to .ejs by Jason R Evarts-->
<!DOCTYPE html>
<html>
<link rel="stylesheet" href="../w3.css">
<link rel="stylesheet" href="../theme-blue-grey.css">
<link rel='stylesheet' href='../font-face.css'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<head>
        <!-- 'title' is passed from the index.js during response.render call -->
	<title><%= title %></title>
	<style>
	body{
	background-color: #f5f7f8;	
	}
	</style>
	
</head>
<body style="margin-top:0px; margin-left:0px; margin-right:0px">
	<div class="w3-bar w3-theme-d2 w3-left-align w3-large">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  <a href="./registration" class="w3-bar-item w3-button w3-padding-large w3-theme-d4"><i class="fa fa-user w3-margin-right"></i>Register</a>
	</div>

	<br>
        <h1 style="text-align:center; font-weight: normal; font-size: 35px">Welcome to Meal Slackers</h1>
        <h1 style=" font-weight: normal; font-size: 30px;margin-left:30%">Log In:</h1>
	<br>
        <% if (messages.success) { %>
           <p style="color:green; margin-left:30%"><%- messages.success %></p>
        <% } %>
        <form action="/login" method="post">		
		<h4 style="margin-left:30%">Username</h4>
		<input type="text" name="username" placeholder="Enter username" value="<%= username %>" size="75" style="margin-left:30%; min-height:40px"/>
		<br>
		<h4 style="margin-left:30%">Password</h4>
		<input type="password" name="password" placeholder="Enter password" size="75" style="margin-left:30%; min-height:40px"/>
		<br>

                <% if (messages.error) {  %>
                  <p style = "color:red; margin-left:30% "><%- messages.error %></p>
                <% } %>
		<br>
		<input type="submit" value="Submit" style="background-color:#57707d; color:white; width: 150px; height: 40px; margin-left:30%"/ >
	</form>
        <br>
	<br>

	<a href="./recover" style="margin-left:30%">Forgot Password?</a>

		
			
	<br>		
	<img src="http://atlas.colorado.edu/wp-content/uploads/2016/05/Boulder-FL-master-transparent.png" style="position: absolute; bottom:5px; margin-left:26%; "></img>
			
</body>
</html>

