<!DOCTYPE html>

<div class="w3-card w3-round w3-white w3-hide-small">
    <div class="w3-container">
        <p>My Interests</p>
        <p>
            <% if (interests) { %>
                <!-- Using a for-loop to loop over each row in the database.
                    The 'interests' variable is passed from the home.js during response.render call -->
                <% interests.forEach(function(interest) { %>
                    <span class="w3-tag w3-small w3-theme-l5"> <%= interest.interestid %> </span>
                <% }) %>
            <% } %>
        </p>
    </div>
</div>

